[% USE q = Qgoda %]
[% USE gtx = Gettext(config.po.textdomain, asset.lingua) %]
 [% months = [gtx.gettext('January'), 
              gtx.gettext('February'), 
              gtx.gettext('March'), 
              gtx.gettext('April'),
              gtx.gettext('May'), 
              gtx.gettext('June'), 
              gtx.gettext('July'), 
              gtx.gettext('August'),
              gtx.gettext('September'), 
              gtx.gettext('October'), 
              gtx.gettext('November'), 
              gtx.gettext('December')] %]
<h4>[% gtx.gettext('Archive') %]</h4>
<ol class="list-unstyled">
[% FOREACH year IN q.listPosts().vmap('date.year').unique().nsort().reverse() %]
    [% FOREACH month IN q.llistPosts('date.year' = year).vmap('date.month').unique().sort().reverse() %]
      [% month0 = month - 1 %]
  <li><a href="/archive/[% year %]/[% month %]/">[% months.$month0 %] [% year %]</a></li>
    [% END %]
[% END %]
</ol>

